@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.img-article {
    position: relative;
}

.img-article-container {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);

    @include maxWidthMediaQuery(1024px) {
        background-attachment: scroll;
    }
}