@use 'src/scss/common/media' as *;

.container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 180px;
    
    @include maxWidthMediaQuery(1024px) {
        flex-direction: column;
        margin-top: 120px;
    }

    @include maxWidthMediaQuery(425px) {
        margin-top: 185px;
    }
}

.partners-and-links-article {
    width: 100%;
    display: flex;
    margin-top: -180px;

    @include maxWidthMediaQuery(1024px) {
        margin: 0;
        align-items: center;
    }
}