@use 'src/scss/common/animations' as *;
@use 'src/scss/common/media' as *;

.clients-ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 58vw;
    @include fadeInUpAnimation(200ms, 1s);

    @include maxWidthMediaQuery(1024px) {
        position: absolute;
        top: 460px;
        left: 4%;
        width: 90%;
    }

    @include maxWidthMediaQuery(400px) {
        position: absolute;
        top: 510px;
        width: 350px;
        left: 4%;
    }

    li {
        list-style: none;
        height: auto;
        width: 100px;

        @include minWidthMediaQuery(1920px) {
            width: 150px;
        }

        img {
            width: 100%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}