@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/animations' as *;
@use 'src/scss/common/media' as *;

.label {
    @include customHeadingFont("bold", 1.6rem);
}

.see-details-article {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    @include descriptionFont("bold");
    transition: opacity .85s;
    cursor: pointer;
    width: 50vw;
    @include smoothTransitionHorizontalAnimation(100%, 1.7s, 700ms);

    @include maxWidthMediaQuery(1024px) {
        width: 100vw;
    }
}

.link {
    display: flex;
    flex-direction: column;
    @include descriptionFont("bold");


    @include minWidthMediaQuery(1920px) {
        font-size: 1.2rem;
    }

    p {
        margin: 0;
    }
}