@use 'src/scss/common/animations' as *;
@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.basic-info-article {
    margin-top: -120px;
    @include fadeInUpAnimation(450ms, 1.5s, 25%);

    @include maxWidthMediaQuery(1024px) {
        margin: 0;
        text-align: center;
    }

    h2,
    h3 {
        padding-left: 100px;

        @include minWidthMediaQuery(1920px) {
            padding-left: 200px;
        }

        @include maxWidthMediaQuery(1024px) {
            padding: 0;
            margin: 0;
        }
    }

    h2 {
        margin-top: 10px;
        @include customHeadingFont("bolder");
    }
}

.basic-info-summary {
    @include descriptionFont("bold", .85rem, 1.75rem);
    padding: 0px 100px 100px 100px;
    text-align: center;

    @include minWidthMediaQuery(1920px) {
        padding: 0px 200px 100px 200px;
    }

    @include maxWidthMediaQuery(1024px) {
        padding: 30px 200px;
    }

    @include maxWidthMediaQuery(768px) {
        display: none;
    }
}

.orange-span {
    color: orange;
}