@use 'src/scss/common/animations' as *;
@use 'src/scss/common/media' as *;

.carousel-article {
    min-width: 51vw;
    max-width: 51vw;
    height: 80vh;
    top: -180px;
    position: relative;
    @include smoothTransitionHorizontalAnimation(100%, 800ms, 700ms);

    @include maxWidthMediaQuery(1024px) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        position: static;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    @include maxWidthMediaQuery(425px) {
        margin-top: 0px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -50px;
        border-left: 50px solid transparent;
        border-right: 70px solid transparent;
        border-top: 220px solid white;

        @include minWidthMediaQuery(1920px) {
            border-right: 100px solid transparent;
            border-top: 360px solid white;
        }

        @include maxWidthMediaQuery(1024px) {
            display: none;
        }
    }

    &::before {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: -50px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 270px solid white;

        @include minWidthMediaQuery(1920px) {
            border-right: 70px solid transparent;
            border-bottom: 360px solid white;
        }

        @include maxWidthMediaQuery(1024px) {
            display: none;
        }
    }

    img {
        width: 100%;
        height: 100%;
        filter: brightness(90%);
    }

    svg {
        transform: scale(0.86);
        width: 110%;

        @include maxWidthMediaQuery(1024px) {
            transform: scale(1);
            width: 100%;
            margin-top: 0.5rem;
        }
    }

}