@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.next-project-redirect-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12%;
    right: 0;
    z-index: 1;
    color: white;

    .img-article-heading {
        @include customHeadingFont('bolder', 4rem);
        max-width: 50vw;

        @include maxWidthMediaQuery(1024px) {
            font-size: 2.3rem;
            max-width: 90vw;
        }
    }

    a {
        align-self: center;
        font-weight: bolder;
        font-size: 2rem;
        display: flex;
        align-items: center;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        @include maxWidthMediaQuery(1024px) {
            font-size: 1.5rem;
        }
    }
}

.img-article-container {
    width: 100%;
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);

    @include maxWidthMediaQuery(1024px) {
        background-attachment: scroll;
    }
}