@use 'src/scss/common/animations' as *;
@use 'src/scss/common/media' as *;

.heading {
    color: orange;
}

.list-container {
    list-style: none;
    @include fadeInUpAnimation();

    @include maxWidthMediaQuery(1024px) {
        margin: 0;
        padding: 0;
    }

    li::before {
        content: "\272F";
        color: orange;
        font-weight: bold;
        display: inline-block;
        font-size: 1.2rem;
        width: 1.5rem;
        margin-left: -2.5rem;

        @include maxWidthMediaQuery(1024px) {
            margin: 0;
            margin-left: 2rem;
        }
    }
}

.container:nth-child(3)>ul>div>li::before {
    @include maxWidthMediaQuery(1024px) {
        margin: 0;
        margin-left: -2rem;
    }
}

.container {
    h3 {
        @include maxWidthMediaQuery(1024px) {
            margin: 0;
            padding: 15px 0;
            text-align: center;
        }
    }
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;

    @include maxWidthMediaQuery(1024px) {
        text-align: center;
        width: 100%;
    }
}