@use 'src/scss/common/media' as *;

.contact-section {
    background-color: black;
    color: #fff;
    overflow: hidden;
    padding: 100px 0;
    transition: all 0.35s ease 0s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    main {
        display: flex;
    }

    input[type="text"],
    input[type="email"] {
        background-color: #fff;
        border: 1px solid #666;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        height: 60px;
        line-height: 1.42857;
        padding: 10px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 300px;
        margin-left: 20px;

        @include maxWidthMediaQuery(425px) {
            width: 142px;
        }
    }

    input[type='text'] {
        margin-left: 0px;

        &:focus {
            border: 3px solid #555;
        }
    }

    textarea {
        display: block;
        height: auto;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        width: 100%;
    }
}

.contact-section-header {
    text-align: center;
    padding-bottom: 70px;
    position: relative;

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }
}

.contact-button {
    background: orange none repeat scroll 0 0;
    color: #000;
    font-size: 1rem;
    padding: 10px 0;
    transition: all 0.3s ease 0s;
    width: 165px;
    margin-top: 10px;
    float: right;

    @include maxWidthMediaQuery(425px) {
        width: 120px;
        font-size: 0.9rem;
    }

    &:hover {
        background-color: black;
        color: whitesmoke;
        transition: all 0.5s ease 0s;
        cursor: pointer;
    }
}

.contact-section-credentials-article {
    display: flex;
    margin-bottom: 10px;
}