@use 'src/scss/common/animations' as *;
@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.cv {
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 43vw;
    top: 7.5%;
    color: black;
    z-index: 3;
    width: 100px;
    height: 90px;
    box-shadow: 4px -3px 20px 0px #ccc;
    display: flex;
    flex-direction: column;
    @include fadeInDownAnimation(1s);
    @include descriptionFont("bold", 0.75rem);

    @include minWidthMediaQuery(1440px) {
        top: 5%;
    }

    @include minWidthMediaQuery(1920px) {
        width: 120px;
        height: 110px;
        font-size: 1.1rem;
        
        svg {
            font-size: 1.75rem;
        }
    }

    @include maxWidthMediaQuery(1024px) {
        position: initial;
        margin-bottom: 30px;
    }

    @include maxWidthMediaQuery(768px) {
        margin: 80px 0 200px 0;
    }

    @include maxWidthMediaQuery(425px) {
        margin: 50px 0 200px 0;
    }

    &:hover {
        cursor: pointer;
    }
}