@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', "SF-Mono", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  font-size: 0.85rem;
  overflow-x: hidden;
  max-width: 100%;
}   

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: orange;
}

::selection {
  color: white;
  background: orange;
}

.carousel * {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.carousel .control-dots {
  top: 90%;
}