@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.container {
    background-color: black;
    color: white;
}

.slogan {
    padding: 100px 40vw 100px 220px;

    @include maxWidthMediaQuery(1024px) {
        padding: 100px 20px 100px 20px;
        text-align: center;
    }

    h4 {
        font-size: 1.1rem;
    }

    h2 {
        font-family: Metropolis, sans-serif;
        font-size: 3rem;
        font-weight: 900;
        line-height: 65px;
        margin: 0;

        span {
            color: orange;
        }
    }
}

.article-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 50px;

    @include maxWidthMediaQuery(1024px) {
        flex-direction: column;
        align-items: center;
    }
}